.App {
  text-align: center;
}
body{
  margin-top: -10%;
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

